<section class="activity">
    <div class="activity-card">
    <div class="activity-header">
      <h3>{{ 'dashboard.recentActivity' | transloco }}</h3>
      <a class="link">{{ 'dashboard.viewAll' | transloco }}</a>
    </div>

    <table class="activity-table">
      <thead>
        <tr>
          <th>{{ 'dashboard.table.user' | transloco }}</th>
          <th>{{ 'dashboard.table.action' | transloco }}</th>
          <th>{{ 'dashboard.table.tenant' | transloco }}</th>
          <th>{{ 'dashboard.table.date' | transloco }}</th>
          <th>{{ 'dashboard.table.status' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of activities">
          <td>
            <div class="user"><div class="avatar-sm">{{ a.initials }}</div> <span class="user-name">{{ a.name }}</span></div>
          </td>
          <td>{{ a.action }}</td>
          <td>{{ a.tenant }}</td>
          <td>{{ a.time }}</td>
          <td><span [ngClass]="statusClass(a.status)">{{ ('dashboard.status.' + a.status) | transloco }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
